certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.8
ipaddress==1.0.23
IPy==1.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.1.1
pandas==2.2.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
rich==13.7.1
six==1.16.0
tzdata==2024.2
urllib3==2.2.2
validators==0.33.0
